Repository spacetelescope/stcal, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, dark_current, jump, linearity, ramp_fitting, saturation

DOC: Remove email from author field
  docs/conf.py
Labels: none

DOC: Remove defaults channel from RTD
  docs/rtd_environment.yaml
Labels: none

Rescale resample kernels by pixel scale ratio - V2
  pyproject.toml
  src/stcal/outlier_detection/utils.py
  src/stcal/resample/resample.py
  tests/resample/test_resample.py
Labels: installation, testing

Add changelog
  changes/418.bugfix.rst
Labels: none

minor changes
  src/stcal/resample/resample.py
Labels: none

Account for the fact that iscale should be old iscale**2
  src/stcal/resample/resample.py
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: automation

JP-3967: SATURATION flag for partially saturated pixels should be propagated to the _rate DQ
  changes/421.apichange.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
Labels: testing, ramp_fitting

Adding debugging stuff.
  src/stcal/jump/jump.py
Labels: jump

isolate opencv to jump extra
  pyproject.toml
  tox.ini
Labels: installation

remove upper pin
  pyproject.toml
Labels: installation

remove opencv from general deps
  pyproject.toml
Labels: installation

cleanup comments and remove type hints
  src/stcal/jump/jump.py
Labels: jump

fix a few tests that hard-code jumps
  tests/test_jump.py
Labels: testing, jump

restore tests
  tests/test_jump.py
Labels: testing, jump

remove opencv import
  src/stcal/jump/jump.py
Labels: jump

Revert "remove offsets intended to make skimage output more closely match opencv"
  src/stcal/jump/jump.py
Labels: jump

implement contiguous region segmentation from @braingram's PR
  src/stcal/jump/jump.py
Labels: jump

bump upper pin of Python that was constrained by opencv
  pyproject.toml
Labels: installation

remove unused process_ellipses
  src/stcal/jump/jump.py
Labels: jump

remove offsets intended to make skimage output more closely match opencv
  src/stcal/jump/jump.py
Labels: jump

refudge skimage to make it better align with opencv
  src/stcal/jump/jump.py
Labels: jump

replace `opencv-python` with `scikit-image`
  README.md
  changes/138.apichange.rst
  pyproject.toml
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: installation, testing, jump

switch ellipses to use radians (native unit for skimage)
  src/stcal/jump/jump.py
Labels: jump

Adding persistence flagging to jump.
  src/stcal/jump/jump.py
  src/stcal/jump/jump_class.py
Labels: jump

Removing debugging import.
  src/stcal/jump/jump.py
Labels: jump

TST: Uncomment ramp fitting compares and clean up test_ramp_fitting.py to ease future maintenance
  tests/test_ramp_fitting.py
Labels: testing, ramp_fitting

TST: Avoid auto upgrade to Python 3.14 on OSX
  .github/workflows/tests.yml
Labels: automation

TST: Improve coverage reporting
  pyproject.toml
Labels: installation

Create README.rst
  changes/README.rst
Labels: none

Remove changelog types from PR template
  .github/pull_request_template.md
Labels: automation

Add note to changes README.rst
  changes/README.rst
Labels: none

Move warnings to log messages
  src/stcal/resample/utils.py
  src/stcal/tweakreg/tweakreg.py
  tests/resample/test_resample_utils.py
  tests/test_tweakreg.py
Labels: testing

Remove setLevel calls for local loggers to allow parent level inheritance
  src/stcal/alignment/resample_utils.py
  src/stcal/alignment/util.py
  src/stcal/dark_current/dark_sub.py
  src/stcal/jump/jump.py
  src/stcal/jump/twopoint_difference.py
  src/stcal/outlier_detection/median.py
  src/stcal/outlier_detection/utils.py
  src/stcal/ramp_fitting/likely_fit.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/utils.py
  src/stcal/resample/resample.py
  src/stcal/resample/utils.py
  src/stcal/saturation/saturation.py
  src/stcal/skymatch/skymatch.py
Labels: dark_current, jump, ramp_fitting, saturation

JP-3967: SATURATION flag for partially saturated pixels should be propagated to the _rate DQ
  changes/421.apichange.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
Labels: testing, ramp_fitting

WIP [ci skip]
  src/stcal/ramp_fitting/src/slope_fitter.c
  src/stcal/ramp_fitting/utils.py
Labels: ramp_fitting

change CI jobs to python 3.13
  .github/workflows/tests.yml
  .github/workflows/tests_extra.yml
Labels: automation

test devdeps with 3.13
  .github/workflows/tests_extra.yml
Labels: automation

Consoldiate multiprocessing ncore determination and enable use downstream by jwst
  src/stcal/jump/jump.py
  src/stcal/multiprocessing.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_jump.py
  tests/test_multiprocessing.py
  tests/test_ramp_fitting.py
Labels: testing, jump, ramp_fitting

Add changelog entry
  changes/431.apichange.rst
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - all-globs-to-any-file: ["*.rst", "!CHANGES.rst"]
      - any-glob-to-any-file:
          - "docs/**/*"
          - "*.md"
          - ".readthedocs.yaml"
          - "LICENSE"

installation:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "setup.*"
          - "requirements-*.txt"
          - "MANIFEST.in"

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - ".bandit.yaml"
          - ".codecov.yml"

testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/tests/**"
          - ".github/workflows/ci*.yml"
          - "conftest.py"

# --------------------------------------- modules ---------------------------------------

dark_current:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*dark_current*"
          - "**/*dark_current*/**"

jump:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*jump*"
          - "**/*jump*/**"

linearity:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*linearity*"
          - "**/*linearity*/**"

ramp_fitting:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*ramp_fitting*"
          - "**/*ramp_fitting*/**"

saturation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*saturation*"
          - "**/*saturation*/**"
