Repository spacetelescope/stcal, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, dark_current, jump, linearity, ramp_fitting, saturation

implement contiguous region segmentation from @braingram's PR
  src/stcal/jump/jump.py
Labels: jump

bump upper pin of Python that was constrained by opencv
  pyproject.toml
Labels: installation

restore tests
  tests/test_jump.py
Labels: testing, jump

switch ellipses to use radians (native unit for skimage)
  src/stcal/jump/jump.py
Labels: jump

remove opencv import
  src/stcal/jump/jump.py
Labels: jump

fix a few tests that hard-code jumps
  tests/test_jump.py
Labels: testing, jump

remove offsets intended to make skimage output more closely match opencv
  src/stcal/jump/jump.py
Labels: jump

cleanup comments and remove type hints
  src/stcal/jump/jump.py
Labels: jump

refudge skimage to make it better align with opencv
  src/stcal/jump/jump.py
Labels: jump

update unit tests for skimage, remove unused calc_num_slices
  tests/test_jump.py
Labels: testing, jump

bump min scikit image
  pyproject.toml
Labels: installation

Update pyproject.toml
  pyproject.toml
Labels: installation

Update changes/138.apichange.rst
  changes/138.apichange.rst
Labels: none

remove unused process_ellipses
  src/stcal/jump/jump.py
Labels: jump

Revert "remove offsets intended to make skimage output more closely match opencv"
  src/stcal/jump/jump.py
Labels: jump

add docstring, switch back to degrees
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump

remove tests added in rebase
  tests/test_jump.py
Labels: testing, jump

JP-3967: SATURATION flag for partially saturated pixels should be propagated to the _rate DQ
  changes/421.apichange.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/src/slope_fitter.c
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
  tests/test_ramp_fitting_likely_fit.py
Labels: testing, ramp_fitting

add full text of warning
  src/stcal/alignment/util.py
Labels: none

Change the API to be more flexible.
  src/stcal/tweakreg/astrometric_utils.py
  tests/test_tweakreg.py
Labels: testing

Handle table without mask.
  changes/446.apichange.rst
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

JP-3964: Filter out bad proper motion from get_catalog
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

Also add strict_cols to create_astrometric_catalog
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

Update change log
  changes/446.apichange.rst
Labels: none

add required dependencies
  pyproject.toml
Labels: installation

add s3 catalog query
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

use pyarrow to load parquet files
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

correct hats catalog for proper motion
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/__init__.py
Labels: testing

allow s3 abs_refcat
  src/stcal/tweakreg/tweakreg.py
Labels: none

fix _parse_refcat
  src/stcal/tweakreg/tweakreg.py
Labels: none

patch column names
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

JP-3967: SATURATION flag for partially saturated pixels should be propagated to the _rate DQ
  changes/421.apichange.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/src/slope_fitter.c
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
  tests/test_ramp_fitting_likely_fit.py
Labels: testing, ramp_fitting

disable 3.14t wheels
  pyproject.toml
Labels: installation

add changelog
  changes/451.general.rst
Labels: none

skip py314t for all oses
  pyproject.toml
Labels: installation

switch to astropy_healpix
  pyproject.toml
  src/stcal/tweakreg/_s3_catalog.py
Labels: installation

add changelog
  changes/447.feature.rst
Labels: none

use pyarrow to load parquet files
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

support timeout
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

fix changelog fragment type
  changes/447.general.rst
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - all-globs-to-any-file: ["*.rst", "!CHANGES.rst"]
      - any-glob-to-any-file:
          - "docs/**/*"
          - "*.md"
          - ".readthedocs.yaml"
          - "LICENSE"

installation:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "setup.*"
          - "requirements-*.txt"
          - "MANIFEST.in"

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - ".bandit.yaml"
          - ".codecov.yml"

testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/tests/**"
          - ".github/workflows/ci*.yml"
          - "conftest.py"

# --------------------------------------- modules ---------------------------------------

dark_current:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*dark_current*"
          - "**/*dark_current*/**"

jump:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*jump*"
          - "**/*jump*/**"

linearity:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*linearity*"
          - "**/*linearity*/**"

ramp_fitting:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*ramp_fitting*"
          - "**/*ramp_fitting*/**"

saturation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*saturation*"
          - "**/*saturation*/**"
