Repository spacetelescope/stcal, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, dark_current, jump, linearity, ramp_fitting, saturation

.github/labeler.yml:

documentation:
  - changed-files:
      - all-globs-to-any-file: ["*.rst", "!CHANGES.rst"]
      - any-glob-to-any-file:
          - "docs/**/*"
          - "*.md"
          - ".readthedocs.yaml"
          - "LICENSE"

installation:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "setup.*"
          - "requirements-*.txt"
          - "MANIFEST.in"

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - ".bandit.yaml"
          - ".codecov.yml"

testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/tests/**"
          - ".github/workflows/ci*.yml"
          - "conftest.py"

# --------------------------------------- modules ---------------------------------------

dark_current:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*dark_current*"
          - "**/*dark_current*/**"

jump:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*jump*"
          - "**/*jump*/**"

linearity:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*linearity*"
          - "**/*linearity*/**"

ramp_fitting:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*ramp_fitting*"
          - "**/*ramp_fitting*/**"

saturation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*saturation*"
          - "**/*saturation*/**"

Add to docs
  docs/stcal/multiprocessing.rst
  docs/stcal/package_index.rst
Labels: none

Create README.rst
  changes/README.rst
Labels: none

Add note to changes README.rst
  changes/README.rst
Labels: none

Remove changelog types from PR template
  .github/pull_request_template.md
Labels: automation

add changelog
  changes/433.bugfix.rst
Labels: none

add missing stsci.imagestats dependency
  pyproject.toml
Labels: installation

don't use jwst and romancal for test coverage
  .github/workflows/tests.yml
Labels: automation

TST: Improve coverage reporting
  pyproject.toml
Labels: installation

Remove possibility unnecessary section
  pyproject.toml
Labels: installation

TST: Introduce exclude_lines for coverage
  pyproject.toml
Labels: installation

Change mypy TOML to single bracket
  pyproject.toml
Labels: installation

TST: Unleash the kraken
  pyproject.toml
Labels: installation

DOC: Fix broken badges and logo
  README.md
Labels: none

Ignore unused imports in init files
  pyproject.toml
Labels: installation

MNT: Remove unused imports
  pyproject.toml
Labels: installation

WIP: Initial implementation but still need testing [ci skip]
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

Remove unused kw [ci skip]
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

prune unused dependencies not explicitly imported
  pyproject.toml
Labels: installation

ignore uv.lock
  .gitignore
Labels: none

remove stdatamodels
  pyproject.toml
Labels: installation

MNT: Remove unused imports (#437)
  pyproject.toml
  src/stcal/jump/jump.py
  src/stcal/ramp_fitting/likely_algo_classes.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/utils.py
  src/stcal/resample/utils.py
  src/stcal/saturation/saturation.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/test_jump.py
  tests/test_jump_twopoint_difference.py
  tests/test_ramp_fitting_cases.py
Labels: installation, testing, jump, ramp_fitting, saturation

remove duplicate test
  tests/test_jump.py
Labels: testing, jump

remove mypy skip for stdatamodels
  pyproject.toml
Labels: installation

remove incorrectly indented test
  tests/test_jump.py
Labels: testing, jump

move mypy to pre-commit
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  tox.ini
Labels: automation

add changelog
  changes/443.removal.rst
Labels: none

remove deprecated dqflags dynamicdq basic_utils
  src/stcal/basic_utils.py
  src/stcal/dqflags.py
  src/stcal/dynamicdq.py
  tests/test_dq.py
Labels: testing

add removal changelog fragment type
  changes/README.rst
  pyproject.toml
Labels: installation

Delete tests/data/snowball1.fits
  tests/data/snowball1.fits
Labels: testing

JP-3967 update for pllim (#1)
  src/stcal/ramp_fitting/src/slope_fitter.c
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
Labels: testing, ramp_fitting

Changed interpolation to cubic
  src/stcal/outlier_detection/utils.py
Labels: none

add required dependencies
  pyproject.toml
Labels: installation

Initial commit for compatibility
  src/stcal/jump/jump_class.py
  src/stcal/jump/twopoint_difference.py
  src/stcal/jump/twopoint_difference_class.py
Labels: jump

catch and ignore a warning raised in the Nirspec instrument model
  src/stcal/alignment/util.py
Labels: none

STY: Apply clang-format to C code
  .clang-format
  .pre-commit-config.yaml
Labels: none

JP-3964: Filter out bad proper motion from get_catalog
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

Change the API to be more flexible.
  src/stcal/tweakreg/astrometric_utils.py
  tests/test_tweakreg.py
Labels: testing

Handle table without mask.
  changes/446.apichange.rst
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

add s3 catalog query
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

replace `opencv-python` with `scikit-image`
  README.md
  changes/138.apichange.rst
  pyproject.toml
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: installation, testing, jump
