Repository spacetelescope/stcal, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, dark_current, jump, linearity, ramp_fitting, saturation

add GAIADR3_S3
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  src/stcal/tweakreg/tweakreg.py
  tests/test_tweakreg.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

fix changelog fragment type
  changes/447.general.rst
Labels: none

add s3 catalog query
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

switch to astropy_healpix
  pyproject.toml
  src/stcal/tweakreg/_s3_catalog.py
Labels: installation

fix _parse_refcat
  src/stcal/tweakreg/tweakreg.py
Labels: none

update test for timeout
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/test_tweakreg.py
Labels: testing

STY: Add F811 to prevent duplicate imports
  pyproject.toml
Labels: installation

Fix style and docstrings in jump.py and test_jump.py before I make actual changes
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump

Add change log
  changes/456.bugfix.rst
Labels: none

Add dunder all to jump.py
  src/stcal/jump/jump.py
Labels: jump

TST: Parametrize point inside ellipse tests because it fixes a naming bug and also to prep for the next step where I add the failing test case before real fix
  tests/test_jump.py
Labels: testing, jump

Fix the bug and the tests
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump

TST: Add failing test cases
  tests/test_jump.py
Labels: testing, jump

JP-3967: SATURATION flag for partially saturated pixels should be propagated to the _rate DQ
  changes/421.apichange.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/src/slope_fitter.c
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
  tests/test_ramp_fitting_likely_fit.py
Labels: testing, ramp_fitting

Add back import
  tests/test_jump.py
Labels: testing, jump

Fix flagging in Python code
  src/stcal/ramp_fitting/utils.py
Labels: ramp_fitting

BUG: Fix SAT flag as suggested by Melanie Clarke and fix tests.
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
  tests/test_saturation.py
Labels: testing, ramp_fitting, saturation

Placing uniform group logic in check_sigma_clip_groups
  src/stcal/jump/twopoint_difference.py
Labels: jump

.github/labeler.yml:

documentation:
  - changed-files:
      - all-globs-to-any-file: ["*.rst", "!CHANGES.rst"]
      - any-glob-to-any-file:
          - "docs/**/*"
          - "*.md"
          - ".readthedocs.yaml"
          - "LICENSE"

installation:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "setup.*"
          - "requirements-*.txt"
          - "MANIFEST.in"

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - ".bandit.yaml"
          - ".codecov.yml"

testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/tests/**"
          - ".github/workflows/ci*.yml"
          - "conftest.py"

# --------------------------------------- modules ---------------------------------------

dark_current:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*dark_current*"
          - "**/*dark_current*/**"

jump:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*jump*"
          - "**/*jump*/**"

linearity:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*linearity*"
          - "**/*linearity*/**"

ramp_fitting:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*ramp_fitting*"
          - "**/*ramp_fitting*/**"

saturation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*saturation*"
          - "**/*saturation*/**"
