Repository spacetelescope/stcal, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, dark_current, jump, linearity, ramp_fitting, saturation

remove hats and s3fs dependencies
  pyproject.toml
  src/stcal/tweakreg/_s3_catalog.py
  tests/test_tweakreg.py
Labels: installation, testing

fix _parse_refcat
  src/stcal/tweakreg/tweakreg.py
Labels: none

update docs
  docs/stcal/tweakreg/description.rst
Labels: none

correct hats catalog for proper motion
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/__init__.py
Labels: testing

remove benchmarks
  tests/tweakreg/__init__.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

fix mask
  src/stcal/tweakreg/_s3_catalog.py
Labels: none

split up function to allow partial caching
  src/stcal/tweakreg/_s3_catalog.py
Labels: none

add s3 catalog query
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

add required dependencies
  pyproject.toml
Labels: installation

allow s3 abs_refcat
  src/stcal/tweakreg/tweakreg.py
Labels: none

update test for timeout
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/test_tweakreg.py
Labels: testing

patch column names
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

add GAIADR3_S3
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  src/stcal/tweakreg/tweakreg.py
  tests/test_tweakreg.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

Add read-level linearity correction for resultants from averaged frames
  src/stcal/linearity/linearity.py
  tests/test_linearity.py
Labels: testing, linearity

add python 3.14 to CI
  .github/workflows/tests.yml
  .github/workflows/tests_extra.yml
Labels: automation

Added numpy import
  src/stcal/jump/jump_class.py
Labels: jump

Added attributes to classes
  tests/test_jump_twopoint_difference.py
Labels: testing, jump

Added attributes to class
  tests/test_jump.py
Labels: testing, jump

Added test for uneven groups
  tests/test_jump_twopoint_difference.py
Labels: testing, jump

Renamed tests
  tests/test_jump_twopoint_difference.py
Labels: testing, jump

Noted roman jump compatibility
  changes/454.general.rst
Labels: none

add python 3.14 to CI (#453)
  .github/workflows/tests.yml
  .github/workflows/tests_extra.yml
Labels: automation

add required dependencies
  pyproject.toml
Labels: installation

add test comparing s3 to gsss catalog
  tests/test_tweakreg.py
Labels: testing

split up function to allow partial caching
  src/stcal/tweakreg/_s3_catalog.py
Labels: none

use pyarrow to load parquet files
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

correct hats catalog for proper motion
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
  tests/tweakreg/__init__.py
Labels: testing

minor cleanup
  src/stcal/tweakreg/_s3_catalog.py
Labels: none

restore gsss timeout behavior
  src/stcal/tweakreg/astrometric_utils.py
  tests/test_tweakreg.py
Labels: testing

update docs
  docs/stcal/tweakreg/description.rst
Labels: none

add s3 catalog timeout test
  tests/test_tweakreg.py
Labels: testing

patch column names
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

add changelog
  changes/447.feature.rst
Labels: none

fix mask
  src/stcal/tweakreg/_s3_catalog.py
Labels: none

increase s3 catalog default timeout
  src/stcal/tweakreg/_s3_catalog.py
Labels: none

remove hats and s3fs dependencies
  pyproject.toml
  src/stcal/tweakreg/_s3_catalog.py
  tests/test_tweakreg.py
Labels: installation, testing

allow s3 abs_refcat
  src/stcal/tweakreg/tweakreg.py
Labels: none

remove benchmarks
  tests/tweakreg/__init__.py
  tests/tweakreg/test_astrometric_utils.py
Labels: testing

support timeout
  src/stcal/tweakreg/_s3_catalog.py
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

add s3 to timeout test
  tests/test_tweakreg.py
Labels: testing

.github/labeler.yml:

documentation:
  - changed-files:
      - all-globs-to-any-file: ["*.rst", "!CHANGES.rst"]
      - any-glob-to-any-file:
          - "docs/**/*"
          - "*.md"
          - ".readthedocs.yaml"
          - "LICENSE"

installation:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "setup.*"
          - "requirements-*.txt"
          - "MANIFEST.in"

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - ".bandit.yaml"
          - ".codecov.yml"

testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/tests/**"
          - ".github/workflows/ci*.yml"
          - "conftest.py"

# --------------------------------------- modules ---------------------------------------

dark_current:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*dark_current*"
          - "**/*dark_current*/**"

jump:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*jump*"
          - "**/*jump*/**"

linearity:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*linearity*"
          - "**/*linearity*/**"

ramp_fitting:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*ramp_fitting*"
          - "**/*ramp_fitting*/**"

saturation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*saturation*"
          - "**/*saturation*/**"
