Repository spacetelescope/stcal, changes with the labels that .github/labeler.yml gives for each.
All labels: installation, automation, testing, dark_current, jump, linearity, ramp_fitting, saturation

.github/labeler.yml:

documentation:
  - changed-files:
      - all-globs-to-any-file: ["*.rst", "!CHANGES.rst"]
      - any-glob-to-any-file:
          - "docs/**/*"
          - "*.md"
          - ".readthedocs.yaml"
          - "LICENSE"

installation:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "setup.*"
          - "requirements-*.txt"
          - "MANIFEST.in"

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - ".bandit.yaml"
          - ".codecov.yml"

testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/tests/**"
          - ".github/workflows/ci*.yml"
          - "conftest.py"

# --------------------------------------- modules ---------------------------------------

dark_current:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*dark_current*"
          - "**/*dark_current*/**"

jump:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*jump*"
          - "**/*jump*/**"

linearity:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*linearity*"
          - "**/*linearity*/**"

ramp_fitting:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*ramp_fitting*"
          - "**/*ramp_fitting*/**"

saturation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*saturation*"
          - "**/*saturation*/**"

Add code for combining sregions
  pyproject.toml
  src/stcal/alignment/__init__.py
  src/stcal/alignment/resample_utils.py
  tests/test_combine_sregions.py
Labels: installation, testing

RCAL-968: add inverse of sky variance as an option for creating weight map in resample. (#359)
  changes/359.apichange.rst
  changes/359.general.rst
  src/stcal/resample/resample.py
  src/stcal/resample/utils.py
  tests/resample/helpers.py
  tests/resample/test_resample.py
  tests/resample/test_resample_utils.py
Labels: testing

add type ignore
  src/stcal/alignment/resample_utils.py
Labels: none

Add changelog entry
  changes/407.apichange.rst
Labels: none

Remove Gaia-only bits from absolute alignment catalog; remove unused options; add GAIAREFCAT endpoint.
  src/stcal/tweakreg/astrometric_utils.py
  src/stcal/tweakreg/tweakreg.py
Labels: none

Add change logs.
  changes/406.apichange.rst
  changes/406.general.rst
Labels: none

Fix change logs.
  changes/406.apichange.rst
Labels: none

Handle empty catalog case.
  src/stcal/tweakreg/astrometric_utils.py
Labels: none

freeze changelog
  uv.lock
Labels: none

Remove setLevel calls for local loggers to allow parent level inheritance
  src/stcal/alignment/resample_utils.py
  src/stcal/alignment/util.py
  src/stcal/dark_current/dark_sub.py
  src/stcal/jump/jump.py
  src/stcal/jump/twopoint_difference.py
  src/stcal/outlier_detection/median.py
  src/stcal/outlier_detection/utils.py
  src/stcal/ramp_fitting/likely_fit.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/utils.py
  src/stcal/resample/resample.py
  src/stcal/resample/utils.py
  src/stcal/saturation/saturation.py
  src/stcal/skymatch/skymatch.py
Labels: dark_current, jump, ramp_fitting, saturation

Move warnings to log messages
  src/stcal/resample/utils.py
  src/stcal/tweakreg/tweakreg.py
  tests/resample/test_resample_utils.py
  tests/test_tweakreg.py
Labels: testing

remove uv.lock
  uv.lock
Labels: none

add type hints
  src/stcal/jump/jump.py
Labels: jump

too many items
  src/stcal/jump/twopoint_difference.py
Labels: jump

fragment
  changes/410.bugfix.rst
Labels: none

freeze changelog
  CHANGES.rst
  changes/359.apichange.rst
  changes/359.general.rst
  changes/396.general.rst
  changes/399.bugfix.rst
  changes/403.general.rst
  changes/406.apichange.rst
  changes/406.general.rst
Labels: none

implement contiguous region segmentation from @braingram's PR
  src/stcal/jump/jump.py
Labels: jump

replace `opencv-python` with `scikit-image`
  README.md
  changes/138.apichange.rst
  pyproject.toml
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: installation, testing, jump

switch ellipses to use radians (native unit for skimage)
  src/stcal/jump/jump.py
Labels: jump

remove offsets intended to make skimage output more closely match opencv
  src/stcal/jump/jump.py
Labels: jump

fix a few tests that hard-code jumps
  tests/test_jump.py
Labels: testing, jump

restore tests
  tests/test_jump.py
Labels: testing, jump

bump upper pin of Python that was constrained by opencv
  pyproject.toml
Labels: installation

remove opencv import
  src/stcal/jump/jump.py
Labels: jump

cleanup comments and remove type hints
  src/stcal/jump/jump.py
Labels: jump

remove unused process_ellipses
  src/stcal/jump/jump.py
Labels: jump

Rescale resample kernels by pixel scale ratio
  changes/412.bugfix.rst
  src/stcal/resample/resample.py
Labels: none

Small refactors from Melanie review
  src/stcal/alignment/resample_utils.py
Labels: none

freeze changelog
  CHANGES.rst
  changes/410.bugfix.rst
Labels: none

Rescale resample kernels by pixel scale ratio
  changes/412.bugfix.rst
  src/stcal/resample/resample.py
Labels: none

address reviewer comments
  src/stcal/resample/resample.py
  tests/resample/test_resample.py
Labels: testing

Fix bug where duplicated point pair were both removed instead of one, update duplicate tolerance
  src/stcal/alignment/resample_utils.py
  tests/test_combine_sregions.py
Labels: testing

Update docstring
  src/stcal/alignment/resample_utils.py
Labels: none

Make it possible to input footprints to combine_sregions
  src/stcal/alignment/resample_utils.py
Labels: none

Add test of array input to combine_sregions
  tests/test_combine_sregions.py
Labels: testing

DOC: Enable nitpicky
  docs/conf.py
Labels: none

DOC: Fix broken refs
  src/stcal/alignment/util.py
  src/stcal/resample/resample.py
  src/stcal/resample/utils.py
  src/stcal/velocity_aberration.py
Labels: none

BLD: Remove author email
  pyproject.toml
Labels: installation

Remove email from skyimage.py
  src/stcal/skymatch/skyimage.py
Labels: none

Remove email from skystatistics.py
  src/stcal/skymatch/skystatistics.py
Labels: none
