Repository spacetelescope/stcal, pull requests merged in 2021-12, with the labels that each got.

#70 JP-2346: Changed the 2 Group Ramp Special Case
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  tests/test_ramp_fitting.py
Labels: ramp_fitting

#65 Check linearity coefficients for zero linear terms JP-2311
  CHANGES.rst
  src/stcal/linearity/linearity.py
  tests/test_linearity.py
Labels: linearity

#63 JP-2310: Move dark current to STCAL
  CHANGES.rst
  src/stcal/dark_current/__init__.py
  src/stcal/dark_current/dark_class.py
  src/stcal/dark_current/dark_sub.py
  tests/test_dark_current.py
Labels: dark_current
