Repository spacetelescope/stcal, pull requests merged in 2022-06, with the labels that each got.

#99 JP-2623: Fixing multiprocessing failure
  CHANGES.rst
  src/stcal/ramp_fitting/gls_fit.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_gls_fit.py
Labels: ramp_fitting, multiprocessing

#102 JP-2651: Fully Saturated Exposures Should Return NoneType
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  tests/test_ramp_fitting.py
Labels: ramp_fitting

#105 changing param name in jump twopoint_difference function
  CHANGES.rst
  src/stcal/jump/jump.py
  src/stcal/jump/twopoint_difference.py
Labels: jump

#107 Adding API changes to the change log due to PRs 99 and 102.
  CHANGES.rst
Labels: no-changelog-entry-needed
