Repository spacetelescope/stcal, pull requests merged in 2022-08, with the labels that each got.

#114 JP-2796: Made style changes due to new flake8 5.0.3
  CHANGES.rst
  src/stcal/dark_current/dark_sub.py
  src/stcal/jump/twopoint_difference.py
  src/stcal/linearity/linearity.py
  src/stcal/ramp_fitting/gls_fit.py
  src/stcal/ramp_fitting/utils.py
Labels: ramp_fitting, jump, linearity, dark_current

#112 JP-2669: Fixing the NaN and DO_NOT_USE bug.
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
Labels: ramp_fitting, testing

#115 JP-2817: GLS doesn't properly handle bad gain values
  CHANGES.rst
  src/stcal/ramp_fitting/gls_fit.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_gls_fit.py
Labels: ramp_fitting, testing

#110 JP-2693: Flag groups do_not_use after detected ramp jumps
  CHANGES.rst
  src/stcal/jump/jump.py
  src/stcal/jump/twopoint_difference.py
  tests/test_twopoint_difference.py
Labels: testing, jump

#116 Jump modifies input data by gain multiplier (JP-2696).
  CHANGES.rst
  src/stcal/jump/jump.py
Labels: bug, jump
