Repository spacetelescope/stcal, pull requests merged in 2022-12, with the labels that each got.

#125 JP-2988: Set saturation only if fully saturated.
  CHANGES.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/gls_fit.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_gls_fit.py
Labels: documentation, ramp_fitting, testing

#129 replace `flake8` with `ruff`
  .flake8
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_dark_current.py
  tests/test_jump.py
  tests/test_ramp_fitting_gls_fit.py
Labels: ramp_fitting, automation, testing, jump, dark_current, no-changelog-entry-needed, installation

#126 remove dependency on `opencv-python`
  CHANGES.rst
  pyproject.toml
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump, installation

#128 freeze change log for `1.2.2` release
  CHANGES.rst
Labels: no-changelog-entry-needed

#124 RCAL-406: Array quantities For RomanCAL
  CHANGES.rst
  src/stcal/dark_current/dark_class.py
  src/stcal/ramp_fitting/ramp_fit.py
Labels: ramp_fitting, dark_current

#131 JP-3014: This Sets Invalid Slope Data to NaN in the Rate and Rateints products.
  CHANGES.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
Labels: documentation, ramp_fitting, testing

#134 refactor CI
  .github/workflows/ci.yml
  tox.ini
Labels: automation, testing, no-changelog-entry-needed

#136 add specific exception when ellipse construction attempted without `opencv-python` installed
  .github/workflows/ci.yml
  CHANGES.rst
  src/stcal/jump/jump.py
  tests/test_jump.py
  tox.ini
Labels: automation, testing, jump
