Repository spacetelescope/stcal, pull requests merged in 2022-07, with the labels that each got.

#108 AL-579: Updating GLS processing and fixed tests for multi-integrations.
  CHANGES.rst
  src/stcal/ramp_fitting/gls_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  tests/test_ramp_fitting_gls_fit.py
Labels: ramp_fitting, GLS

#111 automatically add labels to pull requests based on changed files
  .github/labeler.yml
  .github/workflows/label_pull_request.yml
Labels: automation, no-changelog-entry-needed

#109 JP-2378: A Two Group Saturated Ramp Crashed Due to Incorrect Ndarray Shape
  CHANGES.rst
  src/stcal/ramp_fitting/gls_fit.py
  tests/test_ramp_fitting_gls_fit.py
Labels: ramp_fitting, testing
