Repository spacetelescope/stcal, pull requests merged in 2023-10, with the labels that each got.

#219 expand build matrix with more Python versions
  .github/workflows/build.yml
Labels: automation, no-changelog-entry-needed

#221 Stcal alignment updates
  CHANGES.rst
Labels: no-changelog-entry-needed

#196 Adding stcal-alignment sub-package.
  .gitignore
  CHANGES.rst
  docs/Makefile
  docs/api.rst
  docs/conf.py
  docs/stcal/alignment/description.rst
  docs/stcal/alignment/index.rst
  docs/stcal/package_index.rst
  pyproject.toml
  src/stcal/alignment/__init__.py
  src/stcal/alignment/resample_utils.py
  src/stcal/alignment/util.py
  tests/test_alignment.py
Labels: documentation, testing, no-changelog-entry-needed, installation

#223 add data workflow to retrieve WebbPSF cache and rename toxenvs
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .github/workflows/data.yml
Labels: automation, testing, no-changelog-entry-needed

#215 Add Roman jump detection to ramp fitting
  .gitignore
  CHANGES.rst
  setup.py
  src/stcal/ramp_fitting/ols_cas22.pyx
  src/stcal/ramp_fitting/ols_cas22/__init__.py
  src/stcal/ramp_fitting/ols_cas22/_core.pxd
  src/stcal/ramp_fitting/ols_cas22/_core.pyx
  src/stcal/ramp_fitting/ols_cas22/_fit_ramps.pyx
  src/stcal/ramp_fitting/ols_cas22/_fixed.pxd
  src/stcal/ramp_fitting/ols_cas22/_fixed.pyx
  src/stcal/ramp_fitting/ols_cas22/_pixel.pxd
  src/stcal/ramp_fitting/ols_cas22/_pixel.pyx
  src/stcal/ramp_fitting/ols_cas22_fit.py
  src/stcal/ramp_fitting/ols_cas22_util.py
  tests/test_jump_cas22.py
  tests/test_ramp_fitting_cas22.py
Labels: ramp_fitting, testing, jump, installation

#225 Revert #223
  .github/workflows/ci.yml
  .github/workflows/data.yml
Labels: automation, testing, no-changelog-entry-needed
