Repository spacetelescope/stcal, pull requests merged in 2023-08, with the labels that each got.

#184 pin `sphinx_rtd_theme` to newer version
  docs/rtd_environment.yaml
Labels: documentation, no-changelog-entry-needed

#181 Fix issue with bounding box when creating WCS for tests.
  tests/test_alignment.py
Labels: testing, no-changelog-entry-needed

#175 RCAL-511 Implement Uneven ramp fitting
  CHANGES.rst
  pyproject.toml
  setup.py
  src/stcal/ramp_fitting/ols_cas22.pyx
  src/stcal/ramp_fitting/ols_cas22_fit.py
  src/stcal/ramp_fitting/ols_cas22_util.py
  tests/test_ramp_fitting_cas22.py
  tox.ini
Labels: ramp_fitting, testing, installation

#183 Specify number of cores for jump and ramp_fit
  CHANGES.rst
  src/stcal/jump/jump.py
  src/stcal/ramp_fitting/gls_fit.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_jump.py
  tests/test_ramp_fitting.py
  tests/test_twopoint_difference.py
Labels: ramp_fitting, testing, jump

#188 RCAL-618: Add 'read_pattern' argument to saturation flagging.
  CHANGES.rst
  src/stcal/saturation/saturation.py
  tests/test_saturation.py
Labels: testing, saturation

#193 HLA-1096: Added Reproject function
  src/stcal/alignment/reproject.py
  src/stcal/alignment/tests/test_reproject.py
Labels: documentation, automation, testing, jump, installation

#190 RCAL-632: add unit tests for additional methods.
  pyproject.toml
  src/stcal/__init__.py
  src/stcal/alignment/resample_utils.py
  src/stcal/alignment/util.py
  tests/test_alignment.py
Labels: testing, no-changelog-entry-needed, installation

#194 Style check fixes.
  src/stcal/alignment/reproject.py
  src/stcal/alignment/util.py
  tests/test_alignment.py
Labels: testing, no-changelog-entry-needed

#198 Remove unnecessary file.
  src/stcal/alignment/resample_utils.py
Labels: no-changelog-entry-needed

#199 Add c99 flag for gcc
  setup.py
Labels: no-changelog-entry-needed, installation

#201 Add c99 flag for gcc try 2
  setup.py
Labels: no-changelog-entry-needed, installation
