Repository spacetelescope/stcal, pull requests merged in 2023-09, with the labels that each got.

#209 remove unsupported `system_packages` RTD config setting
  .readthedocs.yaml
Labels: documentation, no-changelog-entry-needed

#206 Update CHANGES.rst
  CHANGES.rst
Labels: no-changelog-entry-needed

#210 Fix failures with numpy 2
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_linearity.py
Labels: ramp_fitting, testing, linearity

#208 JP-3368: Changing ramp_fit Median Rate and Variance Calculations
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
Labels: ramp_fitting, testing

#207 Snowball flagging of grouped data
  CHANGES.rst
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump

#205 set `build_platform_wheels` to `true`
  .github/workflows/publish-to-pypi.yml
Labels: automation, no-changelog-entry-needed

#211 `numpy` 2.0: `np.NaN` -> `np.nan`
  CHANGES.rst
  src/stcal/ramp_fitting/utils.py
Labels: ramp_fitting

#204 HLA-1096: Added reproject and calculate_pixmap functions with high-level WCS
  src/stcal/alignment/reproject.py
  src/stcal/alignment/resample_utils.py
  src/stcal/alignment/testing_reproject.ipynb
  src/stcal/alignment/tests/test_reproject.py
  src/stcal/alignment/util.py
  tests/test_alignment.py
Labels: testing

#216 Fix docstring returned type issue.
  src/stcal/alignment/util.py
Labels: no-changelog-entry-needed

#214 use PyPI upload workflow from OpenAstronomy
  .github/workflows/build.yml
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
Labels: automation, no-changelog-entry-needed, installation
