Repository spacetelescope/stcal, pull requests merged in 2023-04, with the labels that each got.

#158 use built-in concurrency configuration for duplicate workflows
  .github/workflows/cancel_workflows.yml
  .github/workflows/ci.yml
Labels: automation, testing, no-changelog-entry-needed

#159 Remove use of `pytest-openfiles`
  CHANGES.rst
  pyproject.toml
Labels: installation

#161 Adding proper 'meta' tag when checking for dropframe.
  CHANGES.rst
  src/stcal/ramp_fitting/ramp_fit.py
Labels: bug, ramp_fitting

#160 Updating and expanding the read me file.
  README.md
Labels: documentation, no-changelog-entry-needed

#162 drop support for Python 3.8
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .readthedocs.yaml
  CHANGES.rst
  docs/rtd_environment.yaml
  pyproject.toml
Labels: documentation, automation, testing, installation

#163 JP-3221: Fixing Segment Length Computation Needed for Optimal Weighting
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  tests/test_ramp_fitting.py
Labels: ramp_fitting, testing

#164 replace `opencv-python` with pre-built CPU-only `opencv-python-headless`
  pyproject.toml
Labels: no-changelog-entry-needed, installation
