Repository spacetelescope/stcal, pull requests merged in 2023-03, with the labels that each got.

#149 fix ruff errors
  src/stcal/ramp_fitting/ols_fit.py
  tests/test_ramp_fitting.py
Labels: ramp_fitting, testing, no-changelog-entry-needed

#148 pass `CI` environment variable to `toxenv`
  tox.ini
Labels: no-changelog-entry-needed

#143 to match jwst testing, ignore scripts in jwst ci job
  tox.ini
Labels: no-changelog-entry-needed

#151 import `tomli` as `tomllib` for `docs` builds before Python 3.11
  docs/conf.py
Labels: documentation, no-changelog-entry-needed

#146 Remove `dqflags` and related code.
  CHANGES.rst
  src/stcal/basic_utils.py
  src/stcal/conftest.py
  src/stcal/dqflags.py
  src/stcal/dynamicdq.py
  tests/test_dq.py
Labels: testing, jwst dq

#154 JP-3132: Errors During Multiprocessing When More Processors are Requested than Rows in the Data
  CHANGES.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/gls_fit.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
Labels: documentation, ramp_fitting, testing

#153 use OpenAstronomy workflows and move MacOS jobs to schedule
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  CHANGES.rst
  pyproject.toml
  tox.ini
Labels: automation, testing, installation

#155 restore `opencv-python` to a hard dependency
  .github/workflows/ci.yml
  CHANGES.rst
  pyproject.toml
  src/stcal/jump/jump.py
  tests/test_jump.py
  tox.ini
Labels: automation, testing, jump, installation

#157 add code owners file
  .github/CODEOWNERS
Labels: automation, no-changelog-entry-needed
