Repository spacetelescope/stcal, pull requests merged in 2023-01, with the labels that each got.

#139 JP-3044 (partial): Changing Cast to Eliminate Cast Warning.
  CHANGES.rst
  src/stcal/ramp_fitting/utils.py
Labels: ramp_fitting

#140 RCAL-438 Add support for Reference File Quantities
  CHANGES.rst
  src/stcal/dark_current/dark_class.py
Labels: dark_current

#141 JP-3004: Should have NaN's for Suppressed Ramps, but Getting Zeros.
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
Labels: ramp_fitting, testing
