Repository spacetelescope/stcal, pull requests merged in 2023-11, with the labels that each got.

#226 RCAL-702: Fix memory use issue for Cas22 jump detection
  CHANGES.rst
  src/stcal/ramp_fitting/ols_cas22/_core.pxd
  src/stcal/ramp_fitting/ols_cas22/_core.pyx
  src/stcal/ramp_fitting/ols_cas22/_fit_ramps.pyx
  src/stcal/ramp_fitting/ols_cas22/_fixed.pyx
  src/stcal/ramp_fitting/ols_cas22/_pixel.pxd
  src/stcal/ramp_fitting/ols_cas22/_pixel.pyx
  src/stcal/ramp_fitting/ols_cas22_fit.py
  tests/test_jump_cas22.py
Labels: ramp_fitting, testing, jump

#227 Resolve some bugs with the jump fitting algorithm
  CHANGES.rst
  src/stcal/ramp_fitting/ols_cas22/_core.pyx
  src/stcal/ramp_fitting/ols_cas22/_fixed.pyx
  src/stcal/ramp_fitting/ols_cas22/_pixel.pyx
  tests/test_jump_cas22.py
Labels: ramp_fitting, testing, jump

#228 JP-3458: Moving ramp_fit CI tests from JWST to STCAL.
  CHANGES.rst
  tests/test_ramp_fitting_cases.py
Labels: ramp_fitting, testing

#229 Speed up Jump detection
  CHANGES.rst
  setup.py
  src/stcal/ramp_fitting/ols_cas22/__init__.py
  src/stcal/ramp_fitting/ols_cas22/_core.pxd
  src/stcal/ramp_fitting/ols_cas22/_core.pyx
  src/stcal/ramp_fitting/ols_cas22/_fit.pyx
  src/stcal/ramp_fitting/ols_cas22/_fit_ramps.pyx
  src/stcal/ramp_fitting/ols_cas22/_fixed.pxd
  src/stcal/ramp_fitting/ols_cas22/_fixed.pyx
  src/stcal/ramp_fitting/ols_cas22/_jump.pxd
  src/stcal/ramp_fitting/ols_cas22/_jump.pyx
  src/stcal/ramp_fitting/ols_cas22/_pixel.pxd
  src/stcal/ramp_fitting/ols_cas22/_pixel.pyx
  src/stcal/ramp_fitting/ols_cas22/_ramp.pxd
  src/stcal/ramp_fitting/ols_cas22/_ramp.pyx
  tests/test_jump_cas22.py
Labels: ramp_fitting, testing, jump, installation

#230 Add concurrency cancels to build and weekly cron
  .github/workflows/build.yml
  .github/workflows/ci_cron.yml
Labels: automation, testing, no-changelog-entry-needed

#187 Run automated formatting and linters
  .github/CODEOWNERS
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/label_pull_request.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGES.rst
  CODE_OF_CONDUCT.md
  README.md
  docs/Makefile
  docs/conf.py
  docs/rtd_environment.yaml
  docs/stcal/alignment/description.rst
  docs/stcal/jump/description.rst
  docs/stcal/package_index.rst
  docs/stcal/ramp_fitting/description.rst
  pyproject.toml
  setup.py
  src/stcal/__init__.py
  src/stcal/alignment/resample_utils.py
  src/stcal/alignment/util.py
  src/stcal/basic_utils.py
  src/stcal/dark_current/dark_class.py
  src/stcal/dark_current/dark_sub.py
  src/stcal/dqflags.py
  src/stcal/dynamicdq.py
  src/stcal/jump/jump.py
  src/stcal/jump/twopoint_difference.py
  src/stcal/linearity/linearity.py
  src/stcal/ramp_fitting/gls_fit.py
  src/stcal/ramp_fitting/ols_cas22/__init__.py
  src/stcal/ramp_fitting/ols_cas22/_fit.pyx
  src/stcal/ramp_fitting/ols_cas22/_jump.pyx
  src/stcal/ramp_fitting/ols_cas22/_ramp.pyx
  src/stcal/ramp_fitting/ols_cas22_fit.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  src/stcal/ramp_fitting/utils.py
  src/stcal/saturation/saturation.py
  tests/test_alignment.py
  tests/test_dark_current.py
  tests/test_dq.py
  tests/test_jump.py
  tests/test_jump_cas22.py
  tests/test_linearity.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cas22.py
  tests/test_ramp_fitting_cases.py
  tests/test_ramp_fitting_gls_fit.py
  tests/test_saturation.py
  tests/test_twopoint_difference.py
  tox.ini
Labels: documentation, ramp_fitting, automation, testing, jump, linearity, dark_current, saturation, installation

#234 Update CHANGES.rst to make it more obvious which versions of ramp fitting have been updated.
  CHANGES.rst
Labels: no-changelog-entry-needed
