Repository spacetelescope/stcal, pull requests merged in 2023-05, with the labels that each got.

#165 JP-3111: Fix dark subtraction for MIRI segmented data
  CHANGES.rst
  src/stcal/dark_current/dark_class.py
  src/stcal/dark_current/dark_sub.py
Labels: bug, dark_current

#166 test against pre-built binaries of `scipy` and `numpy`
  .github/workflows/ci_cron.yml
  tox.ini
Labels: automation, testing, no-changelog-entry-needed

#167 JP-3004: Corrects the Final Slope Computation for Multi-Integration Data with Some Unusable Integrations
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  tests/test_ramp_fitting.py
Labels: bug, ramp_fitting, testing

#169 Issue-168: Updating Usage of 'np.where' Function
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
Labels: ramp_fitting, testing
