Repository spacetelescope/stcal, pull requests merged in 2023-12, with the labels that each got.

#222 Install dev wheels properly
  tox.ini
Labels: no-changelog-entry-needed, run devdeps tests

#233 Update changlog CI to use a pre-built workflow.
  .github/workflows/changelog.yml
  CHANGES.rst
Labels: automation, no-changelog-entry-needed

#235 fix changelog entry date
  CHANGES.rst
Labels: no-changelog-entry-needed

#213 reorganize tests, make devdeps testing optional, and unpin latest Python testing
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing, no-changelog-entry-needed, run devdeps tests, run scheduled tests
