Repository spacetelescope/stcal, pull requests merged in 2024-11, with the labels that each got.

#315 Revert "AL-875: Add memory saving options to compute_weight_threshold sigma_clip call"
  src/stcal/outlier_detection/utils.py
  tests/outlier_detection/test_utils.py
Labels: testing, no-changelog-entry-needed

#311 JP-3683: fix abs_deriv handling of off-edge and nan values
  changes/311.bugfix.rst
  src/stcal/outlier_detection/utils.py
  tests/outlier_detection/test_utils.py
Labels: testing

#316 Clean up files generated by tests
  tests/test_jump.py
  tests/test_tweakreg.py
Labels: testing, jump, no-changelog-entry-needed

#318 JP-3708, JP-3771, JP-3791
  changes/318.bugfix.rst
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/src/slope_fitter.c
  tests/test_ramp_fitting.py
Labels: ramp_fitting, testing

#319 Weight threshold part duex
  changes/319.bugfix.rst
  src/stcal/outlier_detection/utils.py
  tests/outlier_detection/test_utils.py
Labels: testing, outlier-detection
