Repository spacetelescope/stcal, pull requests merged in 2024-08, with the labels that each got.

#280 [SCSB-170] pin Python<3.13
  pyproject.toml
Labels: no-changelog-entry-needed, installation

#281 JP-3698: Fixed Memory Leak in Ramp Fitting C-Extension
  CHANGES.rst
  src/stcal/ramp_fitting/src/slope_fitter.c
  tests/test_ramp_fitting.py
Labels: ramp_fitting, testing

#272 switch docs theme to sphinx_rtd, unpin sphinx
  docs/_static/stsci_pri_combo_mark_white.png
  docs/conf.py
  pyproject.toml
Labels: documentation, no-changelog-entry-needed, installation

#284 use `towncrier` to handle changelog entries
  .github/pull_request_template.md
  .github/workflows/changelog.yml
  .readthedocs.yaml
  CHANGES.rst
  changes/.gitkeep
  changes/281.bugfix.rst
  changes/284.general.rst
  docs/index.rst
  docs/rtd_environment.yaml
  docs/stcal/changes.rst
  pyproject.toml
Labels: documentation, automation, installation
