Repository spacetelescope/stcal, pull requests merged in 2024-10, with the labels that each got.

#292 JP-3768: Move outlier detection median computers to stcal
  changes/292.apichange.rst
  docs/stcal/outlier_detection/index.rst
  pyproject.toml
  src/stcal/outlier_detection/median.py
  tests/outlier_detection/test_median.py
Labels: documentation, testing, installation, outlier-detection

#293 Enable style checks
  .pre-commit-config.yaml
  pyproject.toml
  tox.ini
Labels: no-changelog-entry-needed, installation

#298 JP-3734: Changed Default CI Test Algorithm to OLS_C
  changes/298.general.rst
  src/stcal/ramp_fitting/ramp_fit_class.py
  src/stcal/ramp_fitting/src/slope_fitter.c
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
Labels: ramp_fitting, testing

#297 Isolate jwst/romancal pytest configuration
  .github/workflows/ci.yml
  changes/297.general.rst
  tox.ini
Labels: automation, testing

#303 Python 3.13 preparation for ramp fitting.
  changes/303.general.rst
  src/stcal/ramp_fitting/src/slope_fitter.c
Labels: ramp_fitting

#299 Infrastructure for memory usage tests
  changes/299.general.rst
  src/stcal/testing_helpers.py
  tests/outlier_detection/test_median.py
  tests/test_infrastructure.py
Labels: testing, outlier-detection

#307 AL-837: Calculate output WCS for resample from already-known s_region
  changes/307.apichange.0.rst
  changes/307.apichange.1.rst
  src/stcal/alignment/util.py
  src/stcal/tweakreg/astrometric_utils.py
  src/stcal/tweakreg/tweakreg.py
  tests/test_alignment.py
Labels: testing, resample

#312 AL-875: Add memory saving options to compute_weight_threshold sigma_clip call
  src/stcal/outlier_detection/utils.py
  tests/outlier_detection/test_utils.py
Labels: testing, no-changelog-entry-needed, outlier-detection
