Repository spacetelescope/stcal, pull requests merged in 2024-06, with the labels that each got.

#260 [SCSB-155] build with Numpy 2.0 release candidate
  CHANGES.rst
  pyproject.toml
  src/stcal/ramp_fitting/src/slope_fitter.c
Labels: ramp_fitting, installation

#261 JP-3638: Flag asymmetrical snowballs
  CHANGES.rst
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump

#265 pin numpy<2
  CHANGES.rst
  pyproject.toml
Labels: installation

#266 Revert "pin numpy<2 (#265)" use 2.0 (non-rc) for build
  CHANGES.rst
  pyproject.toml
Labels: no-changelog-entry-needed, installation
