Repository spacetelescope/stcal, pull requests merged in 2024-07, with the labels that each got.

#268 JP-3678: Ensure C extension works with multiprocessing
  CHANGES.rst
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
Labels: ramp_fitting

#269 JP-3678: Fix C poisson variance calculation
  CHANGES.rst
  src/stcal/ramp_fitting/src/slope_fitter.c
Labels: ramp_fitting

#267 AL-850: adding tweakreg into stcal
  .github/workflows/ci.yml
  .gitignore
  CHANGES.rst
  docs/conf.py
  docs/stcal/alignment/description.rst
  docs/stcal/package_index.rst
  docs/stcal/tweakreg/astrometric_utils.rst
  docs/stcal/tweakreg/description.rst
  docs/stcal/tweakreg/index.rst
  docs/stcal/tweakreg/utils.rst
  pyproject.toml
  src/stcal/alignment/util.py
  src/stcal/tweakreg/__init__.py
  src/stcal/tweakreg/astrometric_utils.py
  src/stcal/tweakreg/tweakreg.py
  src/stcal/tweakreg/utils.py
  tests/.gitignore
  tests/data/mosaic_long_i2d_gwcs.asdf
  tests/data/nrcb1-wcs.asdf
  tests/test_alignment.py
  tests/test_tweakreg.py
  tox.ini
Labels: documentation, automation, testing, installation, tweakreg

#274 fix devdeps
  tox.ini
Labels: no-changelog-entry-needed

#270 Move outlier detection utility functions from jwst to stcal
  CHANGES.rst
  docs/stcal/outlier_detection/description.rst
  docs/stcal/outlier_detection/index.rst
  docs/stcal/package_index.rst
  pyproject.toml
  src/stcal/outlier_detection/__init__.py
  src/stcal/outlier_detection/utils.py
  tests/outlier_detection/__init__.py
  tests/outlier_detection/test_utils.py
  tox.ini
Labels: documentation, testing, installation, run devdeps tests
