Repository spacetelescope/stcal, pull requests merged in 2024-05, with the labels that each got.

#256 ensure extension modules are present in built wheel
  .github/workflows/build.yml
  setup.py
Labels: automation, no-changelog-entry-needed, installation

#258 JP-3623: Catch Runtime warnings in jump step
  CHANGES.rst
  src/stcal/jump/jump.py
  src/stcal/jump/twopoint_difference.py
Labels: jump

#156 JP-3121: initial Code to Implement C-Extensions for Ramp Fit
  .github/workflows/build.yml
  CHANGES.rst
  docs/stcal/ramp_fitting/description.rst
  setup.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  src/stcal/ramp_fitting/src/slope_fitter.c
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
Labels: documentation, ramp_fitting, automation, testing, installation
