Repository spacetelescope/stcal, pull requests merged in 2024-02, with the labels that each got.

#239 JP-3521: Fix jump multiprocessing error
  CHANGES.rst
  src/stcal/jump/jump.py
  src/stcal/jump/twopoint_difference.py
  tests/test_jump.py
  tests/test_twopoint_difference.py
Labels: testing, jump

#237 JP-3448: Always flag at least one group when showers are detected
  CHANGES.rst
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump

#240 JP-3525: Merge jump and ramp_fitting docs content with jwst docs
  CHANGES.rst
  docs/stcal/jump/description.rst
  docs/stcal/ramp_fitting/description.rst
Labels: documentation, ramp_fitting, jump

#238 JP-3502: Extend snowball flags to next integration
  CHANGES.rst
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump

#241 Update metadata for 1.6.0 release
  CHANGES.rst
Labels: no-changelog-entry-needed
