Repository spacetelescope/stcal, pull requests merged in 2024-03, with the labels that each got.

#244 change log for release 1.6.1
  CHANGES.rst
Labels: no-changelog-entry-needed

#249 Use multiprocessing `get_context` and python 3.12
  .github/workflows/ci.yml
  CHANGES.rst
  src/stcal/jump/jump.py
  src/stcal/ramp_fitting/ols_fit.py
Labels: ramp_fitting, automation, testing, jump

#250 [SCSB-145] require Python 3.10
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .github/workflows/tests_devdeps.yml
  README.md
  pyproject.toml
Labels: documentation, automation, testing, no-changelog-entry-needed, installation

#242 JP-3550: Multi-integration jump detection
  CHANGES.rst
  src/stcal/jump/jump.py
  src/stcal/jump/twopoint_difference.py
  tests/test_jump.py
  tests/test_ramp_fitting.py
  tests/test_twopoint_difference.py
Labels: ramp_fitting, testing, jump

#251 JP-3583: Long integrations truncation in ramp fitting
  CHANGES.rst
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
Labels: ramp_fitting, testing

#252 use sqrtf to avoid cast to double
  CHANGES.rst
  src/stcal/ramp_fitting/ols_cas22/_jump.pyx
Labels: ramp_fitting, jump

#248 JP-3562: Shower flagging enhancement
  CHANGES.rst
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump
