Repository spacetelescope/stcal, pull requests merged in 2024-12, with the labels that each got.

#306 JP-3677: Add maximum_shower_amplitude parameter to jump step
  changes/306.apichange.rst
  src/stcal/jump/jump.py
  tests/test_jump.py
Labels: testing, jump

#314 Inverse wcs bbox
  changes/314.bugfix.rst
  pyproject.toml
  src/stcal/alignment/util.py
  tests/test_tweakreg.py
Labels: testing, installation

#322 temporarily point to gwcs main
  pyproject.toml
Labels: no-changelog-entry-needed, installation

#328 update gwcs dependency to released version, update other dependencies (to allow minimum deps to pass)
  pyproject.toml
Labels: no-changelog-entry-needed, installation

#321 JP-3805: Change prior-group flagging to DO_NOT_USE instead of SATURATION
  changes/321.bugfix.rst
  src/stcal/saturation/saturation.py
  tests/test_saturation.py
Labels: testing, saturation
