Repository spacetelescope/stcal, pull requests merged in 2024-09, with the labels that each got.

#282 JP-3664: Numpy 2.0 incompatibility with existing use of newbyteorder
  changes/282.bugfix.rst
  src/stcal/ramp_fitting/ols_fit.py
Labels: ramp_fitting

#285 JP-3689: Fix logic operator
  changes/285.bugfix.rst
  src/stcal/jump/jump.py
Labels: jump

#275 JP-3669: Updating the C Extension to do CHARGELOSS Read Noise Recalculations
  .gitignore
  CHANGES.rst
  changes/275.general.rst
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  src/stcal/ramp_fitting/src/slope_fitter.c
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
  tests/test_ramp_fitting_gls_fit.py
Labels: ramp_fitting, testing

#278 JP-3576: Implement the Ramp Fitting Likelihood Algorithm
  changes/278.apichange.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/likely_algo_classes.py
  src/stcal/ramp_fitting/likely_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  tests/test_ramp_fitting_likely_fit.py
Labels: documentation, ramp_fitting, testing

#283 JP-3593: 2nd group saturation part 2
  changes/283.bugfix.rst
  src/stcal/saturation/saturation.py
Labels: saturation
