Repository spacetelescope/stcal, pull requests merged in 2025-02, with the labels that each got.

#330 JP-3697: Jump Step Refactor
  changes/330.apichange.rst
  src/stcal/jump/constants.py
  src/stcal/jump/jump.py
  src/stcal/jump/jump_class.py
  src/stcal/jump/twopoint_difference.py
  src/stcal/jump/twopoint_difference_class.py
  tests/test_jump.py
  tests/test_jump_twopoint_difference.py
Labels: testing, jump

#334 JP-3827: Remove unused error from ramp data
  changes/334.apichange.rst
  docs/stcal/jump/description.rst
  src/stcal/dark_current/dark_class.py
  src/stcal/dark_current/dark_sub.py
  src/stcal/jump/jump.py
  src/stcal/jump/jump_class.py
  src/stcal/ramp_fitting/gls_fit.py
  src/stcal/ramp_fitting/likely_algo_classes.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  src/stcal/ramp_fitting/src/slope_fitter.c
  tests/test_dark_current.py
  tests/test_jump.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
  tests/test_ramp_fitting_gls_fit.py
  tests/test_ramp_fitting_likely_fit.py
Labels: documentation, ramp_fitting, testing, jump, dark_current

#337 Jump performance
  changes/337.general.rst
  src/stcal/jump/jump.py
  src/stcal/jump/twopoint_difference.py
  tests/test_jump.py
Labels: testing, jump

#320 Add common resample code to stcal.
  changes/320.apichange.rst
  docs/conf.py
  docs/stcal/package_index.rst
  docs/stcal/resample/description.rst
  docs/stcal/resample/index.rst
  docs/stcal/resample/utils.rst
  pyproject.toml
  src/stcal/resample/__init__.py
  src/stcal/resample/resample.py
  src/stcal/resample/utils.py
  tests/resample/__init__.py
  tests/resample/conftest.py
  tests/resample/helpers.py
  tests/resample/test_resample.py
  tests/resample/test_resample_utils.py
Labels: documentation, testing, installation, resample

#338 JP-3793: Fix numbers of flagged groups
  changes/338.bugfix.rst
  src/stcal/jump/twopoint_difference.py
  tests/test_jump_twopoint_difference.py
Labels: testing, jump

#326 JP-3824: Fix a bug in wcs_from_sregions when crpix is provided
  changes/326.bugfix.rst
  src/stcal/alignment/util.py
  tests/test_alignment.py
  tests/test_ramp_fitting_gls_fit.py
Labels: bug, ramp_fitting, testing

#336 remove stray requirements-min.txt file
  .gitignore
  requirements-min.txt
Labels: no-changelog-entry-needed, installation

#310 Pull common parts of skymatch from romancal and jwst into stcal
  changes/310.general.rst
  docs/conf.py
  docs/stcal/package_index.rst
  docs/stcal/skymatch/description.rst
  docs/stcal/skymatch/index.rst
  pyproject.toml
  src/stcal/skymatch/__init__.py
  src/stcal/skymatch/skyimage.py
  src/stcal/skymatch/skymatch.py
  src/stcal/skymatch/skystatistics.py
Labels: documentation, installation

#345 Make sregion_to_footprint public
  changes/345.apichange.rst
  src/stcal/alignment/util.py
  tests/test_alignment.py
Labels: testing

#344 Fixed argmax -> nanargmax
  changes/344.bugfix.rst
  src/stcal/jump/twopoint_difference.py
Labels: jump

#340 JP-3875: Refactor Two Point Difference Module in Jump Step
  changes/340.general.txt
  src/stcal/jump/twopoint_difference.py
  tests/test_jump_twopoint_difference.py
Labels: testing, jump
