Repository spacetelescope/stcal, pull requests merged in 2025-04, with the labels that each got.

#357 JP-3892: Adding Documentation for Cross Integration Jump Detection
  docs/stcal/jump/description.rst
  src/stcal/jump/twopoint_difference.py
Labels: documentation, jump, no-changelog-entry-needed

#358 JP-3871 and JP-3876: Removes "OLS" and "GLS" Code from Ramp Fitting
  changes/358.general.rst
  src/stcal/ramp_fitting/gls_fit.py
  src/stcal/ramp_fitting/ols_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  src/stcal/ramp_fitting/src/slope_fitter.c
  src/stcal/ramp_fitting/utils.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
  tests/test_ramp_fitting_gls_fit.py
  tests/test_ramp_fitting_likely_fit.py
Labels: ramp_fitting, testing

#356 JP-3916: Accounting for bias in group 2 saturation flagging
  changes/356.bugfix.rst
  src/stcal/saturation/saturation.py
  tests/test_saturation.py
Labels: testing, saturation

#342 Add a hook method for add_model in Resample to allow customizations
  changes/342.apichange.rst
  src/stcal/resample/resample.py
  src/stcal/resample/utils.py
  tests/resample/test_resample.py
Labels: enhancement, testing, resample

#325 Removed nested for loop, floats->doubles
  changes/325.general.rst
  src/stcal/ramp_fitting/ols_cas22/_ramp.pyx
Labels: ramp_fitting

#365 replace astropy isiterable with np.iterable
  src/stcal/alignment/util.py
Labels: no-changelog-entry-needed
