Repository spacetelescope/stcal, pull requests merged in 2025-06, with the labels that each got.

#375 fix downstream by not running in parallel
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
Labels: automation, testing, no-changelog-entry-needed, installation

#372 JP-3891: Use the zeroframe in likelihood fitting
  changes/372.general.rst
  src/stcal/ramp_fitting/likely_algo_classes.py
  src/stcal/ramp_fitting/likely_fit.py
  src/stcal/ramp_fitting/ramp_fit.py
  src/stcal/ramp_fitting/ramp_fit_class.py
  tests/test_ramp_fitting.py
  tests/test_ramp_fitting_cases.py
  tests/test_ramp_fitting_likely_fit.py
Labels: ramp_fitting, testing

#352 Do not rescale resampled image intensities
  changes/352.bugfix.rst
  src/stcal/resample/resample.py
  src/stcal/resample/utils.py
  tests/data/nrcb5-wcs.asdf
  tests/resample/conftest.py
  tests/resample/helpers.py
  tests/resample/test_resample.py
Labels: testing
