Repository spacetelescope/stcal, pull requests merged in 2025-03, with the labels that each got.

#339 JP-3765: Keep jump flags going into likelihood-based fitting algorithm
  changes/339.bugfix.rst
  docs/stcal/ramp_fitting/description.rst
  src/stcal/ramp_fitting/likely_fit.py
Labels: documentation, ramp_fitting

#350 JP-3726: Resource Warnings when Using Multiprocessing
  changes/350.bugfix.rst
  src/stcal/jump/jump.py
  src/stcal/ramp_fitting/ols_fit.py
Labels: ramp_fitting, jump

#355 Bugfix source catalog passed into tweakwcs
  changes/355.bugfix.rst
  src/stcal/tweakreg/tweakreg.py
  tests/test_tweakreg.py
Labels: testing
